<launch>
<!--  Launch File Example
    <param name="/print_frq" type="double" value="2.0" />
    <node name="listener_node" pkg="beginner_tutorial" type="listener" output="screen"/> 
    <node name="talker_node" pkg="beginner_tutorial" type="talker" output="screen"/>
-->
    <node name="IMU_read" pkg="control_pkg" type="IMU_9250.py" output="screen" />
    <node name="PID_control" pkg="control_pkg" type="???.py" output="screen" />
    <node name="Motor_output" pkg="control_pkg" type="Motor_Controller.py" output="screen" />

    <param name="/PID/KP" type="double" value="1.0" />
    <param name="/PID/KI" type="double" value="1.0" />
    <param name="/PID/KD" type="double" value="1.0" />

</launch>