<launch>
<!--  Launch File Example
    <param name="/print_frq" type="double" value="2.0" />
    <node name="listener_node" pkg="beginner_tutorial" type="listener" output="screen"/> 
    <node name="talker_node" pkg="beginner_tutorial" type="talker" output="screen"/>
-->
    <node name="IMU_Read" pkg="control_pkg" type="imu_9250.py" output="screen" />
    <node name="Attitude_PID_Control" pkg="control_pkg" type="attitude_pid.py" output="screen" />
    <node name="Depth_PID_Control" pkg="control_pkg" type="depth_pid.py" output="screen" />
    <node name="Merge_Motor_Force" pkg="control_pkg" type="merge_motor.py" output="screen" />
    <node name="Motor_Output" pkg="control_pkg" type="motor_controller.py" output="screen" />

    <param name="/PID/KP" type="double" value="1.0" />
    <param name="/PID/KI" type="double" value="1.0" />
    <param name="/PID/KD" type="double" value="1.0" />

</launch>
